@model Project3_FinalExam.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Model.Title</h1>
</div>
<div>
    <img src="~/img/ritShed.jpg" />
    @Model.AboutInfo.Count();
    @foreach (var info in Model.AboutInfo)
    {
        <p>hi</p>
    }
</div>
